<!-- duoshuo comment box start -->
	<div class="ds-thread" data-thread-key="{{current-title}}" data-title="{{current-title}}" data-url="{{uri}}"></div>
<!-- duoshuo comment box end -->

<!-- duoshuo comment js code start -->
<script id="dsq-count-scr" src="//thiefuniverse.disqus.com/count.js" async></script>
<!-- duoshuo comment js code end -->
