
<div id="outline-container-orgb196e6c" class="outline-2">
<h2 id="orgb196e6c">恩，首先～前方高能，大量剧透</h2>
<div class="outline-text-2" id="text-orgb196e6c">
</div><div id="outline-container-org2e9b7e5" class="outline-3">
<h3 id="org2e9b7e5">首先,这个系列有两部～</h3>
<div class="outline-text-3" id="text-org2e9b7e5">
<p>
这个系列有两部，一部叫2001太空漫游，第二部叫2010威震太阳神．恩，第一部总共
两个半小时左右，可实际有剧情的时间大概只有一个半小时的样子～  :)  (是不是觉得
很坑...)其他时间多半是背景音乐一放，然后就停不下来，直接就是飞船从这头飞到那头．
我总觉得是不是导演偷懒了，虽然这配乐听着还是蛮刺激的．这个现象在第二部就好多了，
恩，第二部一直都有剧情的～
</p>

<p>
再到如今发展到现在的地步，让人震撼！狂躁的猩猩看着黑色立方体，疯狂地敲击着地上
的骨头，特写让人心惊！这就是人类的原始本质吗～
</p>
</div>
<div id="outline-container-org2ad0255" class="outline-4">
<h4 id="org2ad0255">究极的人工智能</h4>
<div class="outline-text-4" id="text-org2ad0255">
<p>
第一部里这台HAL9000电脑全程表现出令人担忧的智能．据结尾剧情和第二部的解释才
知道，HAL通过读唇语得知两个宇航员要把他(:))关闭后，觉得有必要杀死所有宇航员，独
自完成任务．同时他也确实这么做了，其中一个宇航员在太空中换零件时，HAL控制的逃生舱
伸出了机械手，把宇航员狠狠推了出去．看着寂静的太空中，一个人影独自挣扎，实在很让人
心惊．另一个宇航员Bowman立刻出来把他的尸体找了回来，只是HAL却关闭了入口，同时也关
闭了其他三个休眠状态的宇航员的生命维持装置，杀了他们．最终，Bowman关闭了HAL，然而，
关闭之后发现了其中的秘密，同时，在又一次遇到黑色立方体之后:Bowman 说了一句："My 
god,it's full of stars"．结尾出现了不同时期的Bowman的画面，他躺在床上，看着床前面的立方体．
</p>


<div class="figure">
<p><img src="http://ofi8au305.bkt.clouddn.com/stars.png" alt="stars.png" />
</p>
</div>
</div>
</div>
</div>

<div id="outline-container-orgb278331" class="outline-3">
<h3 id="orgb278331">第二部确实把坑基本填完了，看的很震撼</h3>
<div class="outline-text-3" id="text-orgb278331">
</div><div id="outline-container-org87fe5b0" class="outline-4">
<h4 id="org87fe5b0">苏美联合～再探Discovery号</h4>
<div class="outline-text-4" id="text-org87fe5b0">
<p>
苏联的飞船造好了，可是怕和九年前的Discovery号发生同样的未知事故，于是想和Discovery
的头头儿联合，同时还有Discovery的制造者以及HAL的制造者Chandra教授．
</p>
</div>
</div>
<div id="outline-container-org2a52efb" class="outline-4">
<h4 id="org2a52efb">SAL, HAL and Chandra教授</h4>
<div class="outline-text-4" id="text-org2a52efb">
<p>
Chandra教授把自己制造的另一台电脑核心SAL带在了身上，关机之前SAL问她：Will I dream? Chandra教授毫不犹豫地回答说会．当HAL发现Discovery号可能毁灭，不能启动点火信号时，他问教授现在是不是有危险，教授觉得终于瞒不过他，承认了．HAL问如果不点火，他们会怎么样；教授说他们都会死．当大家都屏住呼吸，等待着这台电脑的最终回复时，HAL同意了点火，同时牺牲自己．他的价值已远远不是普通电脑可以比的，俨然是一个敢于牺牲的宇航员了（在我看来）．最后，HAL又问教授:Will I dream? 教授含着泪回答:I don't know. 恩，教授从一开始就把自己的程序当做一个人来看待，有感情，会怀疑，会反抗，甚至接受了命令之后还会撒谎（而撒谎终归是人教的）．觉得很震撼！
</p>


<div class="figure">
<p><img src="http://ofi8au305.bkt.clouddn.com/hal.png" alt="hal.png" />
</p>
</div>
</div>
</div>

<div id="outline-container-org139ae01" class="outline-4">
<h4 id="org139ae01">宇宙主宰</h4>
<div class="outline-text-4" id="text-org139ae01">
<p>
飞船开到木星的时候发现了木星附近有一个巨大的黑色立方体．一个探测飞船上去碰了碰就被一道白光毁了．正在这时，之前的Bowman来提醒头头儿迅速离开，这里很快会有一些奇妙的事情发生～(恩，说法有点奇怪～实际上)没多久立方体消失了，头头儿最终说服了苏联飞船，用Discovery号作为发射器加速，然后一起离开．正要离开时，看到木星某处出现了一个黑点，放大后发现，那正是无数的黑色立方体，吞噬星球的同时在迅速增加自身．在木星的爆炸中，电影结束了．地球上以后出现了两个可以看到的太阳．（恩，可能那不是木星，觉得不太合理）最后出现的画面就是，某个星球上，一块原始的沼泽地里，一块黑色立方体笔直地立在地上．．．．．
</p>
</div>
</div>

<div id="outline-container-org8627581" class="outline-4">
<h4 id="org8627581">最后几句</h4>
<div class="outline-text-4" id="text-org8627581">
<p>
觉得这个黑色立方体可能是高级生命体，也可能是生命的起源这种意思（指引黑猩猩用工具）．恩，人类在生命起源面前，太过渺小了～那个Bowman在星球爆炸之前，还发信息给自己在地球的妻子和母亲，恩，一副奔向新世界的样子，声称自己已经明白了一切．恩，宇宙主宰肯定不会写程序，我猜....最后，HAL我真是太喜欢了～
</p>
</div>
</div>
</div>
</div>
