
<div id="outline-container-org7cc1d26" class="outline-2">
<h2 id="org7cc1d26">Who I am?</h2>
<div class="outline-text-2" id="text-org7cc1d26">
</div><div id="outline-container-org5474f71" class="outline-3">
<h3 id="org5474f71">Now I'm a Junior  CS student at BUPT (Beijing University of Post and Telecomunication)</h3>
</div>
<div id="outline-container-orgf6d025b" class="outline-3">
<h3 id="orgf6d025b">I like programming and computer!</h3>
</div>
</div>

<div id="outline-container-org4cfdb79" class="outline-2">
<h2 id="org4cfdb79">Skills</h2>
<div class="outline-text-2" id="text-org4cfdb79">
</div><div id="outline-container-org4a067dc" class="outline-3">
<h3 id="org4a067dc">C++ (basic)</h3>
</div>
<div id="outline-container-org473802c" class="outline-3">
<h3 id="org473802c">elisp (like emacs)</h3>
</div>
<div id="outline-container-org63efad0" class="outline-3">
<h3 id="org63efad0">Be skilled at linux environment.</h3>
</div>
</div>
