
<div id="outline-container-org0c1113f" class="outline-2">
<h2 id="org0c1113f">Who I am?</h2>
<div class="outline-text-2" id="text-org0c1113f">
</div><div id="outline-container-orge604923" class="outline-3">
<h3 id="orge604923">Now I'm a Junior  CS student at BUPT (Beijing University of Post and Telecomunication)</h3>
</div>
<div id="outline-container-orgae5eac1" class="outline-3">
<h3 id="orgae5eac1">I like programming and computer!</h3>
</div>
</div>

<div id="outline-container-orgd0f0f67" class="outline-2">
<h2 id="orgd0f0f67">Skills</h2>
<div class="outline-text-2" id="text-orgd0f0f67">
</div><div id="outline-container-org59be8ca" class="outline-3">
<h3 id="org59be8ca">C++ (basic)</h3>
</div>
<div id="outline-container-org9a86786" class="outline-3">
<h3 id="org9a86786">elisp (like emacs)</h3>
</div>
<div id="outline-container-org68b126a" class="outline-3">
<h3 id="org68b126a">Be skilled at linux environment.</h3>
</div>
</div>
