
<div id="outline-container-thief" class="outline-2">
<h2 id="org-thief">Who I am?</h2>
<div class="outline-text-2" id="text-org-thief">
</div><div id="outline-container-thief" class="outline-3">
<h3 id="org-thief">Now I'm a Junior  CS student at BUPT (Beijing University of Post and Telecomunication)</h3>
</div>
<div id="outline-container-thief" class="outline-3">
<h3 id="org-thief">I like programming and computer!</h3>
</div>
</div>

<div id="outline-container-thief" class="outline-2">
<h2 id="org-thief">Skills</h2>
<div class="outline-text-2" id="text-org-thief">
</div><div id="outline-container-thief" class="outline-3">
<h3 id="org-thief">C++ (basic)</h3>
</div>
<div id="outline-container-thief" class="outline-3">
<h3 id="org-thief">elisp (like emacs)</h3>
</div>
<div id="outline-container-thief" class="outline-3">
<h3 id="org-thief">Be skilled at linux environment.</h3>
</div>
</div>
